#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp C>;
            label = "COPY";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp V>;
            label = "PASTE";
        };

        back: back {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp Z>;
            label = "BACK";
        };

        cut: cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp B>;
            label = "CUT";
        };

        hannkakuzennkaku: hannkakuzennkaku {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp GRAVE>;
            label = "HANNKAKUZENNKAKU";
        };
    };

    behaviors {
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q       &kp W         &kp E      &kp R              &kp T                                &kp Y  &kp U  &kp I      &kp O    &kp P
&kp A       &kp S         &kp D      &kp F              &kp G      &mkp MCLK      &kp MINUS  &kp H  &kp J  &kp K      &kp L    &kp ENTER
&kp Z       &kp X         &kp C      &kp V              &kp B      &kp SPACE      &kp DEL    &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LSHIFT  &kp LEFT_WIN  &kp LCTRL  &hannkakuzennkaku  &mkp LCLK  &mkp RCLK      &kp INT4   &mo 1                             &kp BACKSPACE
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        FUNCTION {
            bindings = <
&kp ESCAPE      &none         &kp N7        &kp N8        &kp N9                                     &kp UNDER        &kp EQUAL     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp F5
&back           &copy         &kp NUMBER_4  &kp N5        &kp NUMBER_6  &mkp MCLK      &kp QUESTION  &kp PLUS         &kp ASTERISK  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp ENTER
&cut            &paste        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N0         &kp DELETE    &kt EXCLAMATION  &kp COLON     &none             &none              &none
&kp LEFT_SHIFT  &kp LEFT_GUI  &kp LCTRL     &none         &mkp LCLK     &mkp RCLK      &none         &none                                                               &kp BACKSPACE
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
